@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure DevOps Trainings!!!</h1>
    <h4 class="display-2">Today leanring about installation of Dotnet Applciation and working!!</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
